export(wiki_con,wiki_diff,wiki_pagecats,wiki_userinfo,wiki_timestamp,
       wiki_catpages,wiki_revision,wiki_page,wiki_recentchanges,
       wiki_usercontribs)

importFrom(jsonlite)
importFrom(httr)
importFrom(methods)